<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>浴室・バスリフォームの優良業者紹介サービス｜ヌリカエ</title>
        <meta content="浴室・バスリフォームの優良業者紹介サービス｜ヌリカエ" name="description" />
        <meta content="width=device-width, initial-scale=1, initial-scale=1.0" name="viewport" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="mizumawari_bath_ppc01">
        <div id="app">
            <div class="header-performance js-header-fixed">
                <div class="header-performance__inner">
                    <h1 class="header-performance__img header-performance__logo siteLogo-img"><img alt="外壁塗装、屋根塗装ならヌリカエ" decoding="async" src="https://assets.nuri-kae.jp/lp/assets/exterior_outer-wall/header/logo_header01-e271fabe90a34942ad3d847a7b8ee1176723918015cdf2c79c7f8f1c8d4f6b86.svg" /></h1>
                    <div class="header-performance__img header-performance__badge">
                        <picture>
                            <source media="(max-width: 430px)" srcset="https://assets.nuri-kae.jp/lp/assets/mizumawari_bath/sp/chat/logo/logo_performance-caf7baae82e406e289cd8ca6bb8aaba1066190ac95ddb4de89e21f2798d50ad0.png" /><img alt="サイト訪問者数月間200万人突破！提携社数4,000社突破！対応エリア数47都道府県対応！" src="https://assets.nuri-kae.jp/lp/assets/mizumawari_bath/pc/chat/logo/logo_performance-62e62ac1b9224387b1a632c99650d3ded31e399a81be88924e09b8d625c1d0bc.png" />
                        </picture>
                        <div class="header-performance__txt">2022年9月時点</div>
                    </div>
                </div>
            </div>
            <div id="wrap">
                <div class="form-contents">
                    <div class="form-last-field">
                        <div class="chatContainer">
                            <div class="chatchat" v-for="item in allMsg">
                                <!-- アドバイザーメッセージ -->
                                <div class="chatMessage-Advisor hasImage" v-if="item.type === 'adv'">
                                    <div class="icon-image">
                                    </div>
                                    <div class="chatMessage-text">
                                        <div class="message-loader" v-if="item.loading === 'load'">
                                            <loading></loading>
                                        </div>
                                        <div class="chatMessage-text-title" v-if="item.loading !== 'load'"> {{ item.msg }} </div>
                                    </div>
                                </div>
                                <!-- アドバイザーメッセージ(アイコンなし) -->
                                <div class="chatMessage-Advisor" v-if="item.type === 'advNoIcon'">
                                    <div class="icon-image hidden">
                                    </div>
                                    <div class="chatMessage-text">
                                        <div class="message-loader" v-if="item.loading === 'load'">
                                            <loading></loading>
                                        </div>
                                        <div class="chatMessage-text-title" v-if="item.loading !== 'load'"> {{ item.msg }} </div>
                                    </div>
                                </div>
                                <!-- 図 -->
                                <div class="calcStartup__graph" v-if="graph === true">
                                    <div class="calcStartup__bestGraph">
                                        <div class="calcStartup__bestIcon" v-if="bestIcon === true"></div>
                                        <div class="calcStartup__bestImg" v-if="bestImg === true"></div>
                                    </div>
                                    <div class="calcStartup__cheapestGraph">
                                        <div class="calcStartup__cheapestIcon" v-if="cheapestIcon === true"></div>
                                        <div class="calcStartup__cheapestImg" v-if="cheapestImg === true"></div>
                                    </div>
                                </div>
                                <!-- ユーザーメッセージ -->
                                <div class="chatMessage-User" v-if="item.type === 'user'">
                                    <div class="icon-image hidden">
                                    </div>
                                    <div class="chatMessage-text">
                                        <div class="message-loader" v-if="item.loading === 'load'">
                                            <loading></loading>
                                        </div>
                                        <div class="chatMessage-text-title" v-if="item.loading !== 'load'"> {{ item.msg }} </div>
                                        <div class="chatMessage-text__already-read afterRead" v-if="item.read !== 'no'">既読</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 一番最初の選択項目出力 -->
                            <div class="chatMessage-Question calculation done" v-if="QuestionShow === true">
                                <div class="chatMessage-Question__inner">
                                    <button class="calcTypeSelect__buttonUnit" v-bind:class="{zakkuriColorChange}" type="button" @click="showFlash">
                                        <div class="calcTypeSelect__buttonInner">
                                            <div class="calcTypeSelect__buttonLabel">
                                                <div class="calcTypeSelect__buttonLabelText">ざっくり計算</div>
                                                <div class="calcTypeSelect__buttonLabelSubText"> 広さや形状から<br>おおまかに </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="calcTypeSelect__buttonUnit" v-bind:class="{sikkariColorChange}" type="button" @click="showFlash2">
                                        <div class="calcTypeSelect__buttonInner">
                                            <div class="calcTypeSelect__buttonLabel">
                                                <div class="calcTypeSelect__buttonLabelText">しっかり計算</div>
                                                <div class="calcTypeSelect__buttonLabelSubText"> 欲しい機能や<br>設備も入れて </div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <!-- 選択項目出力 -->
                            <div class="chatMessage-Question">
                                <div class="chatMessage-Question__inner" v-if="questionUpView === true">
                                    <div class="chatMessage-Question__buttonUnit" v-for="item in questionUp">
                                        <input name="handle[Input_items_42]" v-bind:id="item" type="radio" v-model="questionAnswer" v-bind:value="item" class="opti-contractorAlreadyDecided_all opti-contractorAlreadyDecided_1" data-ga-event="ga_event_contractorAlreadyDecided_1">
                                        <label v-bind:for="item" v-on:click="onActive(item)" class="chatMessage-Question__button" v-bind:class="{'is-active': activeItem === item},{colorChangeGlay}">{{ item }}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- 都道府県選択項目出力 -->
                            <div class="chatMessage-Question area" data-group="Input_items_20" v-if="todohukenQuestion === true">
                                <input name="conversion[Input_items_20]" type="hidden">
                                <div class="chatMessage-Question__inner chatMessage-Question__inner--itemWrap">
                                    <div class="chatMessage-Question__buttonUnit" v-for="item in newAreas">
                                        <input name="handle[Input_items_20]" v-bind:id="item.kind" type="radio" v-model="todohukenAnswer" v-bind:value="item.item" class="opti-area_all opti-area_1" data-ga-event="ga_event_area_1">
                                        <label v-bind:for="item.kind" v-on:click="onActive(item)" class="chatMessage-Question__button" v-bind:class="{'is-active': activeItem === item},{colorChangeGlay}">{{ item.item }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form__Submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <ul class="footer__link">
                    <li class="footer__link-item"><a href="https://speee.jp/company/" rel="noopener" target="_blank">運営会社</a></li>
                    <li class="footer__link-item"><a href="https://speee.jp/privacy/" rel="noopener" target="_blank">プライバシーポリシー</a></li>
                </ul>
                <div class="footer__copy">&copy;2015 Speee, inc.</div>
            </footer><noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-PHMHQ3" style="display:none;visibility:hidden" width="0"></iframe></noscript>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
        <script src="app.js"></script>
    </body>
</html>
